<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinner Apps</title>
</head>

<body>

    <a href="#main-content" class="skip-link">Skip to content ?</a>

    <!-- Navbar for Mobile -->
    <div class="menu-mobile">
        <div class="menu-icon" id="menu"><a href="#">&#9776;</a></div>
        <div class="logo-apps">Dinner App</div>
        <div class="logo-apps">&nbsp;</div>
    </div>
    <nav id="nav-drawer" class="nav-mobile">
        <ul class="nav-list-mobile">
            <li class="nav-item-mobile"><a href="">Home</a></li>
            <li class="nav-item-mobile"><a href="#">Favorite</a></li>
            <li class="nav-item-mobile"><a target="_blank"
                    href="https://www.linkedin.com/in/m-fathurrohman-mauludin-0626bb119/">About Us</a></li>
        </ul>
    </nav>

    <!-- Desktop Navbar -->
    <nav class="nav">
        <a class="logo-desktop" href="">Dinner Apps</a>
        <ul class="nav-list-desktop">
            <li class="nav-item-desktop"><a href="">Home</a></li>
            <li class="nav-item-desktop"><a href="#">Favorite</a></li>
            <li class="nav-item-desktop"><a target="_blank"
                    href="https://www.linkedin.com/in/m-fathurrohman-mauludin-0626bb119/">About Us</a></li>
        </ul>
    </nav>

    <!-- Jumbotron -->
    <div class="image"
        style="background-image: linear-gradient(rgba(0, 0, 5, .5), rgba(0, 0, 5, .5)), url('images/heros/hero-image_4.jpg');">
        <div class="image-inner">
            <h1 class="image-title">Dinner Apps</h1>
            <p class="image-subtitle">Find a place to have dinner with loved ones in Indonesia</p>
        </div>
    </div>

    <!-- Content -->
    <main id="main-content">
        <section class="content">
            <div class="latest">
                <h1>Explore Restaurant</h1>
                <div class="list" id="tes"></div>
            </div>
        </section>
    </main>

    <!-- Footer -->
    <footer>
        <p>Copyright © 2022 - Dinner Apps</p>
    </footer>
</body>

</html>